Ciao ${model.person.fullName},

La tua password per ${info.tenantDisplayName} è stata resettata.
La nuova password è : ${model.newPassword}

Ti ricordiamo che la tua username è : ${model.person.username}

Saluti
Team ${info.tenantDisplayName}